# JSON web token (JWT) secret: this keeps our app's user authentication secure
# This secret should be a random 20-ish character string
SECRET ='1akj$fb.wf&^c3-f#we2b%cjh-2@asg*'

# Mongo DB
# Local development
MONGODB_URI='mongodb://localhost/DBNAME'

# Port
PORT=4000

# Debug
LOG_LEVEL='silly'

#Mail
MAIL_ADDRESS='EMAIL ADDRESS'
MAIL_SECRET='PASSWORD'

#Host URL
HOST_URL=http://localhost:4000

#Agendash
AGENDA_DB_COLLECTION='agendaJobs'
AGENDA_POOL_TIME=10
AGENDA_CONCURRENCY=1000

NODE_ENV='production'
